.input_box {
  background-image: url('../../images/dollar.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  position: relative;
}

.input_box::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #436ab20e, #436ab24b,#436ab269, #436ab2bb, #436ab2e3);
}

.input_box > h1 {
  color: white;
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

.phoneH1 {
  color: white;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 10px;
}

.base {
  position: relative;
  right: 3%;
  float: right;
  color: white;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.phoneBase {
  position: absolute;
  right: 3%;
  color: white;
  text-align: right;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.input {
  position: absolute;
  left: 3%;
  bottom: 20%;
  width: 400px;
  height: 20px;
  display: grid;
  grid-template-columns: 80% 20%;
}

.phoneInput {
  position: absolute;
  left: 3%;
  bottom: 20%;
  margin-top: 10px;
  width: 300px;
  height: 20px;
  display: grid;
  grid-template-columns: 80% 20%;
}

.input > input,
.phoneInput > input {
  height: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: none;
  outline: none;
}

.input > span,
.phoneInput > span {
  box-sizing: border-box;
  display: grid;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  border-radius: 0 8px 8px 0;
}

.input > span svg {
  font-size: 20px;
}