@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

:root {
  --bg-color: #4369b2;
  --bg-light: #729ff19c;
  --bg-dack: #145be08a;
}

* {
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url('./allcurrency.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

